*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display:flex;
    flex-direction: column;
    background-color: #222;
}
html, body{
    height: 100%;
}
header{
    height:10%;
    background-color:hsl(203,92%,75%);
    text-align: center;
    text-transform:uppercase;
    font-size: 50px;
}

article{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
} 


.content{
    display: flex;
    flex-grow: 1;
    background-image: url(chu2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


footer{
    background-color: beige;
    text-align: center;
    padding:10px;
    width: 100%;
}
.div0{
padding: 0 30px;
}
.div1{
    float:left;
    width:99px;
}
.div2{
    float:right;
    width:99px;
}

.form-signin {
    max-width:330px;
    padding: 1px;
  }
  
.form-signin .form-floating:focus-within {
    z-index:1;
  }
  
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}