*, ::before ,::after{
    margin: 0px ;
    padding: 0px ;
    box-sizing:border-box;
}
body,html{
    height: 100%;
}
body{
    background-color: #222;
}
header{
    text-align: center;
    text-transform:uppercase;
    font-size: 50px;
}

.form{
    width: 700px;
}
.image {
    background-image: url("chu2.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
}
.text {
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 50%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#f8faf9;
    width: 500px;
}
.forminput{
margin: 4px;

 }
.formfieldset{
    border:none;
 }
.forma{
    text-decoration: none;
    display:block;
    margin-bottom: 10px;
  }

.div0{
    overflow: hidden;
}
.div1{
float: left;
}
.div2{
  float: right;  
}


