{% extends 'appli_web/head.html' %}
{% block content %}
<center><form method="POST" action="{% url 'connexion' %}" >
    {% csrf_token %}
    <fieldset class="fromfieldset">
            <input type="email"  id="email" aria-describedby="emailHelp" placeholder="email" name="email" class="frominput"/>
            <input type="password" id="password" placeholder="Password" name="mdp" class="frominput"/>
            <input type="submit"  name="connexion"  value="connexion" class="btn btn-primary" class="frominput"/>
            <a href="#" class="forma">mot de passe oublié?</a>
    </fieldset>
</form>
</center>
{% endblock %}