{% extends 'appli_web/head.html' %}

{% block content %}

<form class="form-signin">
   <fieldset>
       <div class="form-label">
             <label for="email">email</label><input type="email" id="email" class="form-control" placeholder="ici"/>
      </div>
      <div class="form-label">
              <label for="mdp">mot de passe</label><input type="password"  id="mdp" class="form-control" placeholder="ici"/>
      </div>
    <input type ="submit"  name="connexion" value="connexion" />
  </fieldset>

</form>
{% endblock %}