{% extends 'appli_web/template.html' %}
{% block tempcontenu %}
<center><form method="post" action="" >
    {% csrf_token %}
    <fieldset>
            <input type="text"   placeholder="nom" name="nom" class="frominput"/><br/>
            <input type="tel"   placeholder="numero 1" name="contact1" class="frominput"/>
            <input type="tel" placeholder="numero 2" name="contact2" class="frominput"/><br/>
            <input type="email"   placeholder="email" name="email" class="frominput"/><br/>
            <input type="date"  placeholder="date de naissance" name="date_naissance" class="frominput"/><br/>
            <input type="text"  placeholder="profession" name="profession" class="frominput"/><br/>
            <input type="text"   placeholder="Âge" name="age" class="frominput"/><br/>
            <input type="radio"   name="sexe2" value="M"/>MASCULIN
            <input type="radio"   name="sexe1" value="F"/>FEMININ<br/>
            <input type="text"   placeholder="commune" name="commune" class="frominput"/><br/>
            <input type="quartier"   placeholder="quartier" name="quartier" class="frominput"/><br/>
            <input type="text"   placeholder="nationalité" name="nationalite" class="frominput"/><br/>
            <input type="text"   placeholder="situation matrimoniale" name="situation_matrimoniale" class="frominput"/><br/>
            <input type="text"   placeholder="nombre d'enfant" name="nombre_enfant"/><br/>
            <input type="text"  placeholder="personne à contacter" name="personne_a_contacter" class="frominput"/>
            <input type="tel"  placeholder="contact de la personne à contacter" name=" telephone_cpu" class="frominput"/><br/>
            <input type="submit"  name="connexion"  value="connexion" class="btn btn-primary"/>

    </fieldset>
</form>
</center>
{% endblock %}