{% extends 'appli_web/template.html' %}
{% block tempcontenu %}
<center><form method="post" action="{% url 'connexion' %}" >
    {% csrf_token %}
    <fieldset>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="email" name="email"/>
            <input type="password" class="form-control" id="password" placeholder="Password" name="mdp"/>
            <input type="submit"  name="connexion"  value="connexion" class="btn btn-primary"/>
            <a href="#">mot de passe oublié?</a>
    </fieldset>
</form>
</center>
{% endblock %}