{% extends 'appli_web/template.html' %}
{% block consultationform %}
<center><form method="POST" action="">
    {% csrf_token %}
    <fieldset class="fromfieldset">
            <div>
            <label>motif de consultation</label><br/>
            <input type="checkbox"   name="motifdeconsultation[]"  value="" />Asthénie <br/>
            <input type="checkbox"   name="motifdeconsultation[]"  value="" />Ictère <br/>
            <input type="checkbox"   name="motifdeconsultation[]"  value="" />Fièvre <br/>
            <input type="checkbox"   name="motifdeconsultation[]"  value="" />Urines foncées<br/>
            <input type="checkbox"   name="motifdeconsultation[]"  value="" />Douleur abdominale <br/>
            <input type="checkbox"   name="motifdeconsultation[]"  value="" />Anomalies du bilan hépatique<br/>
            <input type="checkbox"   name="motifdeconsultation[]"  value="" />Cytolyse hépatique <br/>
            <input type="checkbox"   name="motifdeconsultation[]"  value="" />AgHBs positif  <br/>
            <input type="checkbox"   name="motifdeconsultation[]"  value="" />Ac anti HVC positif  <br/>
            <input type="checkbox"   name="motifdeconsultation[]"  value="" />Ac anti VHD positif et Ag HBs positif  <br/>
            <input type="checkbox"   name="motifdeconsultation[]"  value="" />Interprétation de résultats de dépistage hépatite virale <br/>
            <input type="checkbox"   name="motifdeconsultation[]"  value="Autre motif" onclick="pourlecheckbox()" /> Autre motif<br/>
            <input type="text"       name="motifdeconsultation"  placeholder="précisser l'autre motif"  id="motifdeconsultation"  class="test"/><br/>
            </div>

            <div>
            <label >prescripteur de la consultation</label><br/>
            <input type="radio"  name="prescripteur_consultation"  value="Hépato-Gastroentérologue"/>Hépato-Gastroentérologue<br/>
            <input type="radio"  name="prescripteur_consultation"  value="Autre médecin spécialiste"/>Autre médecin spécialiste<br/>
            <input type="radio"  name="prescripteur_consultation"  value="Médecin généraliste"/>Médecin généraliste<br/>
            <input type="radio"  name="prescripteur_consultation"  value="Personnel paramédical (IDE ou Sage-femme)"/>Personnel paramédical (IDE ou Sage-femme)<br/>
            <input type="radio"  name="prescripteur_consultation"  value="Venu  (e)  de lui (elle) même"/>Venu  (e)  de lui (elle) même<br/>
            </div>

            <div>
            <label >début de signe :</label>
            <input type="radio"  name="debut_signe"  value="Inférieur à 6 mois"/>Inférieur à 6 mois
            <input type="radio"  name="debut_signe"  value="Supérieur ou égal à 6 mois"/>Supérieur ou égal à 6 mois
            </div>

            <div>
            <label >signe digestif? :</label>
            <input type="radio"  name="b1"  value="oui1" onclick="signedigstif()"/>oui
            <input type="radio"  name="b1"  value="non" onclick="signedigstif()"/>non<br/>
            <input type="text" id="signedigestifs" name="signe_digestifs" placeholder="preciser les signes" class="test"/><br/>
            </div> 
            
            <div>
                <label >signe extradigestif? :</label>
                <input type="radio"  name="b1"  value="oui2" onclick="signedigstif()"/>oui
                <input type="radio"  name="b1"  value="non" onclick="signedigstif()"/>non<br/>
                <input type="text"   id="signeextradigestif" name="signe_extra_digestif"  placeholder="preciser" class="test"/><br/>
            </div> 
            
            






            <label for="signe asso">signe associe digestif</label><input type="text"  id="signe asso" name="signe_asso_gene" class="frominput"/><br/>
            <label for="nombre de verre d'alcool">nombre de verre d'alcool</label><input type="text"  id="nombre de verre d'alcool" name="nombredeverre_alcool" class="frominput"/><br/>
            <label for="nombre de paquet de tabac">nombre de paquet de tabac</label><input type="date"  id="nombre de paquet de tabac" name="nombrepaquettabac" class="frominput"/><br/>
            <label for="medoc en cours">medicament en cours</label><input type="text" id="medoc en cours" name="medoc_en_cours" class="frominput"/><br/>
            <label for="prise therap tarditionnelle">thérapie tarditionnelle</label><input type="text"  id="prise therap tarditionnelle" name="prise_therap_tarditionnelle" class="frominput"/><br/>

 aghbs
    acanti_vhc
    acanti_vhd
    serologie_retrovi
    transaminase
    histoiredemaladie                                                                          
    resultat
    renseignementclinic

            <div>
            <label >aghbs</label><br/>
            <input type="radio"  name="aghbs"  value="oui"/>oui
            <input type="radio"  name="aghbs"  value="non"/>non
            </div>
            
            <div>
            <label >acanti_vhc</label><br/>
            <input type="radio"  name="acanti_vhc"  value="oui"/>oui
            <input type="radio"  name="acanti_vhc"  value="non"/>non
            </div>
            
            <div>
            <label >acanti_vhc</label><br/>
            <input type="radio"  name="acanti_vhc"  value="oui"/>oui
            <input type="radio"  name="acanti_vhc"  value="non"/>non
            </div>



            <label for="dsd">début  de signe</label><input type="text"  placeholder="signe asso" name="signe_asso_gene" class="frominput"/><br/>
            <input type="submit"  name=""  value="Enregistrer" class="btn btn-primary" class="frominput"/><br/>
    </fieldset>
</form>
</center>
{% endblock %}